body{
	background-color: #707372;
	border-left: 100px dotted #C1121C;
	border-right: 100px dotted #C1121C;
}
header h1{
	text-align: center;
	font-size: 75px;
	border: 15px solid #C1121C;
	border-radius: 60px;
	background-color: white;
	color: #C1121C;

	
}
header{
	padding-top: 30px;
	padding-bottom: 200px;
}
p.text{
	border: 5px solid #b2b4b2;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 10px;
	background-color: #b2b4b2;
	padding-top: 5px;
	padding-bottom: 5px;
}

img{
	height: 25%;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
img.bordered{
	border: 10px solid white;
	border-radius: 10px;
	
}
img.solidbordered{
	border: 5px solid #b2b4b2;
	border-radius: 10px;
}

#header_img{
	height: 50%;
	width: 50%;
	border: 10px solid white;
	border-radius: 10px;

}

figure{
	text-align: center;
}

h2{
	text-align: center;
}

body h1{
	text-align: center;
}
body h3{
	text-align: center;
}

ul{
	text-align: center;
}
p.noborder{
	text-align: left;
	font-size: 15px;
}
footer{
	padding-top: 50px;
}